<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.mapper.BusDataMapper" >

    <resultMap id="BaseResultMap" type="com.bs.pojo.BusData" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="fund_num" property="fundNum" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="VARCHAR" />
        <result column="distribution_flag" property="distributionFlag" jdbcType="CHAR" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, create_date, fund_num, type_id, distribution_flag, del_flag
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from bus_data
        where id = #{id,jdbcType=VARCHAR}
    </select>

	<resultMap id="MyResultMap" type="com.bs.pojo.MyData" >
        <result column="keshiName" property="keshiName" jdbcType="VARCHAR" />
        <result column="typeId" property="typeId" jdbcType="VARCHAR" />
        <collection property="data" ofType="com.bs.pojo.BusData">
        	 <id column="id" property="id" jdbcType="VARCHAR" />
        	  <result column="createDate" property="createDate" jdbcType="DATE" />
        	  <result column="fundNum" property="fundNum" jdbcType="VARCHAR" />
        	  <result column="distribution_flag" property="distributionFlag" jdbcType="VARCHAR" />
	        <association property="typeName" javaType="com.bs.pojo.BusTypeFund">
        	  <result column="typeName_name" property="name" jdbcType="VARCHAR" />
        	  <result column="typeName_unit" property="unit" jdbcType="VARCHAR" />
	        </association>
	        <association property="user" javaType="com.bs.pojo.BusUser">
        	 <id column="user_id" property="id" jdbcType="VARCHAR" />
        	  <result column="user_name" property="name" jdbcType="VARCHAR" />
	        </association>
        </collection>
    </resultMap>



	<select id="findList" resultMap="MyResultMap">
		SELECT 
  a.id AS "id",
  a.user_id AS "user_id",
  u.`name` AS "user_name",
  b.name AS "typeName_name",
  b.unit AS "typeName_unit",
  a.create_date AS "createDate",
  c.`type_name` AS "keshiName",
  a.fund_num AS "fundNum",
  a.type_id AS "typeId",
  a.distribution_flag AS "distribution_flag" 
FROM
  `bus_data` a 
  LEFT JOIN `bus_type_fund` b 
    ON b.`del_flag` = '0' 
    AND a.`del_flag` = '0' 
    AND a.`type_id` = b.`id` 
  LEFT JOIN `bus_user` u 
    ON u.`del_flag` = '0' 
    AND u.`id` = a.`user_id` 
   LEFT JOIN `bus_type` c
   ON c.`del_flag`='0' AND c.`id`= b.`type_id`
   
   ORDER BY a.`distribution_flag`
	</select>	


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bus_data
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.bs.pojo.BusData" >
        insert into bus_data (id, user_id, create_date, 
            fund_num, type_id, distribution_flag, 
            del_flag)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
            #{fundNum,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{distributionFlag,jdbcType=CHAR}, 
            #{delFlag,jdbcType=CHAR})
    </insert>

<insert id="insertLarge"  parameterType="java.util.List" useGeneratedKeys="true">
    	<selectKey resultType="long" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
    	</selectKey> 
       insert into bus_data (id, user_id, create_date, 
            fund_num, type_id, distribution_flag, 
            del_flag)
        values 
        <foreach collection="list" item="item" index="index" separator="," close=";">  
            (#{item.id,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP}, 
            #{item.fundNum,jdbcType=VARCHAR}, #{item.typeId,jdbcType=VARCHAR}, #{item.distributionFlag,jdbcType=CHAR}, 
            #{item.delFlag,jdbcType=CHAR})
   		 </foreach>
    </insert>

	 <update id="updateCommonData" parameterType="java.util.List" >
        update bus_data
        <set >
                distribution_flag ='1'
        </set>
       <where>
       		id in
       	<foreach collection="list" index="index" item="item"  separator="," open="(" close=")">
       		 #{item.id,jdbcType=BIGINT}
       	</foreach>
       </where>
    </update>
	
	 <update id="deleteCommonData" parameterType="java.util.List" >
        update bus_data
        <set >
                del_flag ='1'
        </set>
       <where>
       		id in
       	<foreach collection="list" index="index" item="item"  separator="," open="(" close=")">
       		 #{item.id,jdbcType=BIGINT}
       	</foreach>
       </where>
    </update>
	



    <insert id="insertSelective" parameterType="com.bs.pojo.BusData" >
        insert into bus_data
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="fundNum != null" >
                fund_num,
            </if>
            <if test="typeId != null" >
                type_id,
            </if>
            <if test="distributionFlag != null" >
                distribution_flag,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fundNum != null" >
                #{fundNum,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null" >
                #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="distributionFlag != null" >
                #{distributionFlag,jdbcType=CHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.BusData" >
        update bus_data
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fundNum != null" >
                fund_num = #{fundNum,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null" >
                type_id = #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="distributionFlag != null" >
                distribution_flag = #{distributionFlag,jdbcType=CHAR},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bs.pojo.BusData" >
        update bus_data
        set user_id = #{userId,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            fund_num = #{fundNum,jdbcType=VARCHAR},
            type_id = #{typeId,jdbcType=VARCHAR},
            distribution_flag = #{distributionFlag,jdbcType=CHAR},
            del_flag = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>