<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.mapper.BusDepartmentMapper" >

    <resultMap id="BaseResultMap" type="com.bs.pojo.BusDepartment" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, department_name, del_flag
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from bus_department
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bus_department
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.bs.pojo.BusDepartment" >
        insert into bus_department (id, department_name, del_flag
            )
        values (#{id,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.bs.pojo.BusDepartment" >
        insert into bus_department
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="departmentName != null" >
                department_name,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="departmentName != null" >
                #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.BusDepartment" >
        update bus_department
        <set >
            <if test="departmentName != null" >
                department_name = #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bs.pojo.BusDepartment" >
        update bus_department
        set department_name = #{departmentName,jdbcType=VARCHAR},
            del_flag = #{delFlag,jdbcType=CHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>