<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.mapper.BusTypeMapper" >

    <resultMap id="BaseResultMap" type="com.bs.pojo.BusType" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
        <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, type_name, del_flag, department_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from bus_type
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bus_type
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.bs.pojo.BusType" >
        insert into bus_type (id, type_name, del_flag, 
            department_id)
        values (#{id,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
            #{departmentId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bs.pojo.BusType" >
        insert into bus_type
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="typeName != null" >
                type_name,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
            <if test="departmentId != null" >
                department_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="typeName != null" >
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="departmentId != null" >
                #{departmentId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.BusType" >
        update bus_type
        <set >
            <if test="typeName != null" >
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="departmentId != null" >
                department_id = #{departmentId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bs.pojo.BusType" >
        update bus_type
        set type_name = #{typeName,jdbcType=VARCHAR},
            del_flag = #{delFlag,jdbcType=CHAR},
            department_id = #{departmentId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>