<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.mapper.BusUserMapper" >

    <resultMap id="BaseResultMap" type="com.bs.pojo.BusUser" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
        <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
        <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, login_name, password, del_flag, department_id, type_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from bus_user
        where id = #{id,jdbcType=VARCHAR}
    </select>

	 <select id="selectFindListBylogin" resultMap="BaseResultMap" parameterType="com.bs.pojo.BusUser" >
        select 
        <include refid="Base_Column_List" />
        from bus_user a
        <where>
        	a.del_flag=0
        	<if test="loginName != null and loginName != '' ">
        		and login_name = #{loginName}
        	</if>
        	<if test="password != null and password != '' ">
        		and password = #{password}
        	</if>
        </where>
    </select>
	


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from bus_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.bs.pojo.BusUser" >
        insert into bus_user (id, name, login_name, 
            password, del_flag, department_id, 
            type_id)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
            #{password,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, #{departmentId,jdbcType=VARCHAR}, 
            #{typeId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bs.pojo.BusUser" >
        insert into bus_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="loginName != null" >
                login_name,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="delFlag != null" >
                del_flag,
            </if>
            <if test="departmentId != null" >
                department_id,
            </if>
            <if test="typeId != null" >
                type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null" >
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="departmentId != null" >
                #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null" >
                #{typeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.bs.pojo.BusUser" >
        update bus_user
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null" >
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null" >
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="departmentId != null" >
                department_id = #{departmentId,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null" >
                type_id = #{typeId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bs.pojo.BusUser" >
        update bus_user
        set name = #{name,jdbcType=VARCHAR},
            login_name = #{loginName,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            del_flag = #{delFlag,jdbcType=CHAR},
            department_id = #{departmentId,jdbcType=VARCHAR},
            type_id = #{typeId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>